.nav-layout{
    width: 50px;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--body_background);
    box-shadow: 0 8px 5px 0 rgba(98, 99, 106, 0.693);
    border: .1px solid rgb(65, 61, 61);
    overflow: hidden;
    transition: width .75s ease;
    z-index: 1;
}
.nav-layout:hover{
    width: 200px;
}
.nav_words{
    color: var(--body_color);
    font-size: 1.2rem;
    text-decoration: none;
}
.container {
    margin: .3rem;
   padding-top: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.container:hover{
    width: 200px;

}

 li {
    
    padding: 1rem;
    display: flex;
    gap: .7rem;
}
.logo{
   padding-top: 2rem;
   display: flex;
   align-items: center;
   gap: 1rem;
}
.logo_icon{
    margin-left: .8rem;
    color: #ff4500;
    font-size: 1.3rem;
}
.lgcolor{
    color: #ff4500;
}

.icon {
    font-size: 1.2rem;
    color: var(--body_color);
}